.container {
  margin: 0 auto;
  max-width: 350px;
  background-color: var(--neutral-dark-blue2);
  padding: 1.5em;
}

.link {
  color: var(--white);
  text-decoration: none;
}

.link:hover {
  color: var(--primary-cyan);
}

.container, 
.product-img, 
.middle {
  border-radius: 8px;
}

.img-container { border-radius: 10px; }

.product-img, 
.product-title, 
.product-description {
  margin-bottom: 1.5em;
}

.img-container {
  position: relative;
  background-color: var(--primary-cyan);
  cursor: pointer;
}

.product-img {
  width: 100%;
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  text-align: center;
  
}

.img-container:hover .product-img {
  opacity: .4;
  
}

.img-container:hover .middle {
  opacity: 1;
}

.product-title {
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
}

.product-info {
  display: flex;
  justify-content: space-between;
}

.product-price, .product-expiry-date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
}

.product-price {
  color: var(--primary-cyan);
  font-weight: 400;
}

.product-info__icon {
  margin-right: .3em;
}

.divider {
  color: var(--neutral-dark-blue3);
  margin: 1em 0;
}

.creator-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.creator-avatar {
  width: 15%;
  border: 1px solid var(--white);
  border-radius: 100%;
  /* margin-right: 1em; */
}

.creator-info > p {
  margin-left: 1em;
  font-size: .8rem;
}
